<div id="userProfileEditCreate" aria-labelledby="userCreateEditProfile">
    <div class="form-title text-center">
       <h4>{{title}} Profile</h4>
    </div>
    <div class="d-flex flex-column text-center">
        {{#if mainerr}}
        <div class="error">{{message}}</div>
        {{/if}}
        <p>basic information</p>
        <div id = "dumb" hidden>{{recid}}</div>
        <form action="/users/profile/{{userId}}" method="{{method}}" id="userBase" autocomplete="off">
            <div class="form-group">
                {{#if genErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <input type="text" name="gender" id="userGender" class="form-control" placeholder="M/F/U" aria-placeholder="Gender">
                <label for="userGender" class="col-form-label">Gender: </label>
            </div>
            <div class="form-group">
                {{#if cityErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <label for="userCity" class="col-form-label">City: </label>
                <input type="text" name="city" id="userCity" class="form-control" placeholder="Hoboken" aria-placeholder="City">
            </div>
            <div class="form-group">
                {{#if stateErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <label for="state" class="col-form-label">state: </label>
                <input type="text" name="state" id="state" class="form-control" placeholder="New Jersey" aria-placeholder="State">
            </div>
        </form>
    </div>
    <div class = "exRevise">
        <p>experience</p>
        <form action="/users/profile/{{userId}}" method="{{method}}" id="userEx" autocomplete="off">
            {{#if exErr}}
                <div class="error">{{message}}</div>
            {{/if}}
                <ol id="preEx"></ol>
                <div id = "exError"></div>
                <label for="title" class="col-form-label">title: </label>
                <input type="text" name="title" id="title" class="form-control" placeholder="software engineering" aria-placeholder="title">
                
                <label for="employmentType" class="col-form-label">employmentType: </label>
                <select name="employmentType" id = "employmentType">
                <option value="full time" selected>full time</option>
                <option value="part time">part time</option>
                </select>
                <label for="companyName" class="col-form-label">companyName: </label>
                <input type="text" name="companyName" id="companyName" class="form-control" placeholder="Apple" aria-placeholder="companyName">
                <label for="startDate" class="col-form-label">startDate: </label>
                <input type="date" value = "2017-06-01" name="startDate" id="startDate" class="form-control" >
                <label for="endDate" class="col-form-label">endDate: </label>
                <input type="date" value = "2017-08-01" id="endDate" class="form-control" >
                <button type="submit" id="exSubmit" class="col-12 btn btn-dark btn-round">Apply</button>
        </form>
    </div>
        <script src='/public/script/userEditAJAX.js'></script>
</div>

