
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='/public/script/job_scripts.js'></script>
{{#if errorclass }}
<marquee>
  <p class="not-found">Please Login first as user first!!! </p>
  </marquee>
{{/if}}

{{#if jobFound}}
<div class="search__container">
    <h1 class="search__title">
        Search Jobs by Location, Title ...
    </h1>
          <h2></h2>
    <label for="mySearchterm">Search your Job</label>
    <input type="text" class="search__input" id="mySearchterm" onkeyup="filter(this);" placeholder="Search for Jobs.." />
    
</div>
<br>
<div class="btn-group">
<button onclick="window.location.href='/jobs/sort'">Recent Jobs</button>
</div>
<ul id = 'myJobList' class = 'tilesWrap'>
{{#each jobs}}
    <li>

		  <h3>{{title}}</h3>
		  <p>
			Type : {{type}} <br>
      Location : {{city}},{{state}}<br>
      Post Date: {{postDateString}}<br>
      Job Summary : {{details.summary}}<br>
		</p>
		<button class="btn btn-outline-light" onclick="window.location.href='/jobs/id/{{unique}}'">Read more</button>
    </li>
{{/each}}
</ul>

{{/if}}

{{#if nullJob}}

<p>{{message}}</p>

{{/if}}

{{> recruiterlogin}}
{{> recruiterSignup}}
{{> applicantLogin}}
{{> applicantSignup}}



