<div id="newjobpost" aria-labelledby="newjobpost">
    <div class="form-title text-center">
       <h1>{{title}} Job</h1>
    </div>
    <div class="d-flex flex-column justify-content-center">
        {{#if mainerr}}
        <div class="error">{{message}}</div>
        {{/if}}
        <form action="/recruiters/jobs/{{action}}" method="{{method}}" id="jobForm" autocomplete="off">
            <div class="form-group row mb-3">
                {{#if jtitleErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <div class="col-sm-2">
                    <label for="jobTitle" class="col-form-label">Title: </label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="title" id="jobTitle" class="form-control w-75" placeholder="Software Development Engineer"  required>
                </div>
            </div>
            <div class="form-group row mb-3">
                {{#if jtypeErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <div class="col-sm-2">
                    <label for="jobType" class="col-form-label">Type: </label>
                </div>
                <div class="col-sm-10">
                    <select class="form-select w-75" aria-label="Job Type" id="jobType" name="jobType" required>
                        <option value="">Choose Job Type</option>
                        <option value="Co-op">Co-op</option>
                        <option value="Internship">Internship</option>
                        <option value="Full Time">Full Time</option>
                        <option value="Part Time">Part Time</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mb-3">
                {{#if compErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <div class="col-sm-2 mb-3">
                    <label for="jobCompany" class="col-form-label">Company: </label>
                </div>
                <div class="col-sm-10 mb-3">
                    <input type="text" name="company" id="jobCompany" class="form-control w-75" placeholder="Company"  required>
                </div>
            </div>
            <div class="form-group row mb-3">
                {{#if cityErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <div class="col-sm-2">
                    <label for="jobCity" class="col-form-label">City: </label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="city" id="jobCity" class="form-control w-75" placeholder="City"  required>
                </div>
            </div>
            <div class="form-group row mb-3">
                {{#if stateErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <div class="col-sm-2">
                    <label for="jobState" class="col-form-label">State: </label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="state" id="jobState" class="form-control w-75" placeholder="State"  required>
                </div>
            </div>
            <div class="form-group row mb-3">
                {{#if jobPayErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <div class="col-sm-2">

                </div>
                <div class="col-sm-3">
                    <label for="jobMinPay" class="col-form-label">MinPay: </label>
                    <input type="number" class="form-control" name="jobMinPay" id="jobMinPay" placeholder="5000"  min="0" required>
                </div>
                <div class="col-sm-1 align-bottom mt-2 ml-2 text-center"><span>&mdash;</span></div>
                <div class="col-sm-3">
                    <label for="jobMaxPay" class="col-form-label">MaxPay: </label>
                    <input type="number" class="form-control" name="jobMaxPay" id="jobMaxPay" placeholder="10000"  min="0" required>
                </div>
            </div>
            <div class="form-group row mb-3">
                {{#if jobReqErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <div class="col-sm-2">
                    <label for="jobTags" class="col-form-label">Tags: </label>
                </div>
                <div class="col-sm-10">
                    <input type="text" name="jobTags" id="jobTags" class="form-control w-75" placeholder="MongoDB,Javascript, Python..."  required>
                </div>
            </div>
            <div class="form-group row mb-3">
                {{#if jobSumErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <div class="col-sm-2">
                    <label for="jobSummary" class="col-form-label">Summary: </label>
                </div>
                <div class="col-sm-10">
                    <textarea id="jobSummary" name="summary" class="form-control h-100 w-75" rows="5" placeholder="Summary of the job"  required></textarea>
                </div>
            </div>
            <div class="form-group row mb-3">
                {{#if jobDesc}}
                <div class="error">{{message}}</div>
                {{/if}}
                <div class="col-sm-2">
                    <label for="jobResponsibilities" class="col-form-label">Responsibilities: </label>
                </div>
                <div class="col-sm-10">
                    <textarea id="jobResponsibilities" name="description" class="form-control h-100 w-75" rows="5" placeholder="Responsibilities of the job"  required></textarea>
                </div>
            </div>
            <div class="form-group row mb-3">
                {{#if jobPayErr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <div class="col-sm-2">
                    <label for="jobBenefits" class="col-form-label">Benefits: </label>
                </div>
                <div class="col-sm-10">
                    <textarea id="jobBenefits" class="form-control h-100 w-75" rows="5" placeholder="Benefits of the job"  required></textarea>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" id="jobsubmit" class=" col-sm-8 btn btn-dark btn-round">{{title}} Job</button>
            </div>
        </form>
    </div>
    {{!-- <script src="/public/script/profile.js"></script> --}}
</div>