<div> 
      <form style="display: inline" action="/recruiters/" method="get">
            <button type="submit" class="btn btn-primary" id="landingBtn">All Jobs</button>
      </form>
  <h1>{{data.name}}</h1> 

       <p> Type : {{data.type}}</p>
        <p> Location : {{data.city}},{{data.state}}</p>
        <p> Job Summary : {{data.details.summary}}</p>

  </ul>
</div> 