<section class="section profile-section" id="recProfile">
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{!-- <img src="{{recruiter.profile.photo}}"></img> --}}
            </div>
            <div class="col-6">
                <h2>{{recruiter.firstName}} {{recruiter.lastName}}</h2>
                {{#if newRec}}
                {{else}}
                <h6>{{recruiter.profile.company.position}}, {{recruiter.profile.company.name}}</h6>
                {{/if}}
            </div>
        </div>
        {{#if newRec}}
        <div class="row createprofilebtn">
            <div class="col">
                <button type="button" class="btn btn-danger" id="recCreateProfileBtn"><a href="/recruiters/profile/{{recid}}" class="text-decoration-none link-light">Create Profile</a></button>
            </div>
        </div>
        {{else}}
        <div class="row editprofilebtn">
            <div class="col">
                <button type="button" class="btn btn-primary" id="recEditProfileBtn"><a href="/recruiters/profile/{{recid}}" class="text-decoration-none link-light">Edit Profile</a></button>
            </div>
        </div>
        <div class="row profile-section">
            <div class="col">
                <p>City: {{recruiter.profile.city}}</p>
                <p>State: {{recruiter.profile.state}}</p>
            </div>
        </div>
        <div class="row experience-section">
            <div class="col">
                <p>Position: {{recruiter.profile.company.position}}</p>
                <p>Company: {{recruiter.profile.company.name}}</p>
            </div>
        </div>
        <div class="row about-section">
            <div class="col">
                <h5>About Me:</h5>
                <br/>
                <p>{{recruiter.profile.company.description}}</p>
            </div>
        </div>
        {{/if}}
        <button class="btn btn-primary" type="button"><a href="/recruiters/jobs/new" class="text-decoration-none link-light">Create New Job</a></button>
        <div class="row job-section">
            <div class="accordion" id="job-accordion">
                {{#each jobs}}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="jobheading{{@index}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJob{{@index}}" aria-expanded="true" aria-controls="collapseJob{{@index}}">
                            <a href="/jobs/recruiters/id/"+{{job_id}} class="text-decoration-none link-light">{{jobDetails.title}}</a>
                        </button>
                    </h2>
                    <div id="collapseJob{{@index}}" class="accordion-collapse collapse show" aria-labelledby="jobheading{{@index}}" data-bs-parent="job-accordion">
                        <div class="accordion-body">
                            <ul id="applicantList">
                                {{#each applicants}}
                                <li>
                                    <div class="container" id="appContainer">
                                        <div class="row p-3 border-bottom" id="appDetails">
                                            <div class="col-3">{{firstName}} {{lastName}}</div>
                                            <div class="col d-md-flex justify-content-md-end"><button type="button" class="btn btn-success me-md-2">Accept</button>
                                            <button type="button" class="btn btn-danger me-md-2">Reject</button></div>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>