<div> 
<button onclick="window.location.href='/';">
      Jobs
</button>
  <h1>{{data.name}}</h1> 

       <p> Type : {{data.type}}</p>
        <p> Location : {{data.city}},{{data.state}}</p>
        <p> Job Summary : {{data.details.summary}}</p>


  </ul>
</div> 