<div> 
      <form style="display: inline" action="/" method="get">
            <button type="button" class="btn btn-primary" id="landingBtn">All Jobs</button>
      </form>
  <h1>{{data.name}}</h1> 

       <p> Type : {{data.type}}</p>
        <p> Location : {{data.city}},{{data.state}}</p>
        <p> Job Summary : {{data.details.summary}}</p>
      <form action="./{{jobId}}/apply",  method="post">
            <button>apply</button>
          
      </form>
            <form action="/users/favor/{{jobId}}",  method="post">
            <button>save</button>
      </form>
      

         
      </form>
            <a href="/logout" role="button"  id="buttonsaved" >Logout</a> 
      </form>
      


  </ul>
</div> 