<div class="modal fade" id="appSignup" tabindex="-1" role="dialog" aria-labelledby="appSignup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" >
            <div class="modal-header d-block">
                <button type="button" class="btn-close float-right" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title text-center">Applicant Signup/Register</h4>
            </div>
            <div class="modal-body">
                {{#if mainerr}}
                <div class="error">{{message}}</div>
                {{/if}}
                <form action="/users/signup" method="post" id="applicantSignupform">
                    <div class="form-group mb-3">
                        {{#if fnerr}}
                            <div class="error">{{message}}</div>
                        {{else if lnerr}}
                            <div class="error">{{message}}</div>
                        {{/if}}
                        <div class="row">
                            <div class="col"><input type="text" class="form-control" name="firstName" placeholder="First Name" required="required" id="appFName"></div>
                            <div class="col"><input type="text" class="form-control" name="lastName" placeholder="Last Name" required="required" id="appLName"></div>
                        </div>        	
                    </div>
                    {{#if emailerr}}
                    <div class="error">{{message}}</div>
                    {{/if}}
                    <div class="form-group mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="required" id="apEmail">
                    </div>
                    {{#if pwderr}}
                    <div class="error">{{message}}</div>
                    {{/if}}
                    <div class="form-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password" required="required" id="apPwd">
                    </div>
                    {{#if pherr}}
                    <div class="error">{{message}}</div>
                    {{/if}}
                    <div class="form-group mb-3">
                        <input type="number" class="form-control" name="phone" placeholder="Phone Number" required="required" id="apPhone">
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="submit" form="applicantSignupform" class="btn btn-success btn-lg col-8  d-flex justify-content-center">Register Now</button>
                <div class="float-right">Already have an account? <a href="/users/login" id="applicantSigninBtn" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#applicantLogin">Sign in</a></div>
            </div>
        </div>
    </div>
</div>